@font-face {
  font-family: cardo;
  src: url(fonts/Cardo-Regular.ttf);
}

@font-face {
  font-family: product;
  src: url(fonts/product-sans.ttf);
}

@media screen and (min-width: 600px) {
  body, html {
    height: 100%;
  }
  .construction {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 3em;
    flex-wrap: wrap;
  }
  .construction h1 {
    width: 100%;
  }

  nav, main, footer {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .construction {
    display: none;
  }
  body, h1, h2, h3, h4, h5, h6, p, a, ul, li, input, textarea {
    font-family: "cardo";
    font-weight: 600;
    margin: 0px;
    padding: 0px;
  }
  a {
    all: unset;
  }
  /* NAV */
  body, html, .index {
    background: white;
    height: 100%;
    width: 100%;
  }
  .menu {
    margin-top: 27px;
    margin-left: 5px;
    width: 23px;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;
    position: relative;
    transform: scale(0.8);
  }
  .menu .bit-1::before {
    content: '';
    left: 0.5em;
    top: 0.5em;
    position: absolute;
    width: 1em;
    transform-origin: left bottom;
    height: 0.3em;
    background: black;
    transition: transform 0.3s, top 0.3s;
  }
  .menu .bit-1::after {
    content: '';
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1em;
    transform-origin: right bottom;
    height: 0.3em;
    background: black;
    transition: transform 0.3s, top 0.3s;
  }
  .menu .bit-2 {
    position: absolute;
    width: 2em;
    top: 50%;
    left: 50%;
    height: 0.3em;
    background: black;
    transform: translate(-50%, -50%);
    transition: transform 0.3s 0.3s, width 0.3s 0.6s;
  }
  .menu .bit-3::before {
    content: '';
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    width: 1em;
    transform-origin: left top;
    height: 0.3em;
    background: black;
    transition: transform 0.3s, bottom 0.3s;
  }
  .menu .bit-3::after {
    content: '';
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    width: 1em;
    transform-origin: right top;
    height: 0.3em;
    background: black;
    transition: transform 0.3s, bottom 0.3s;
  }
  .menu.open .bit-1:before {
    top: 0.4em;
    width: 1.2em;
    transform: rotate(45deg);
    transform-origin: left bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
  }
  .menu.open .bit-1:after {
    top: 0.4em;
    width: 1.2em;
    transform: rotate(-45deg);
    transform-origin: right bottom;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, top 0.3s 0.3s;
  }
  .menu.open .bit-2 {
    width: 0.3em;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: transform 0.3s 0.3s, width 0.3s;
  }
  .menu.open .bit-3:before {
    bottom: 0.4em;
    width: 1.2em;
    transform: rotate(-45deg);
    transform-origin: left top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
  }
  .menu.open .bit-3:after {
    bottom: 0.4em;
    width: 1.2em;
    transform: rotate(45deg);
    transform-origin: right top;
    transition: transform 0.3s 0.3s, width 0.3s 0.3s, bottom 0.3s 0.3s;
  }
  .top-nav {
    position: fixed;
    width: 100%;
    display: flex;
    background: white;
    z-index: 1001101010;
  }
  .nav-logo-div {
    width: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
  .nav-logo {
    height: 75px;
    padding-left: 75px;
  }
  .nav-toggle-div {
    width: 50px;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    padding-right: 25px;
  }
  .nav-toggle {
    width: 45px;
  }
  .nav-expand {
    background: white;
    display: none;
    margin-top: 100px;
    position: fixed;
    z-index: 0;
    width: 100%;
  }
  .nav-expand-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 15px 0px;
    background: white;
  }
  nav a {
    width: calc(50% - 20px);
    padding: 10px;
  }
  /* index */
  main {
    padding-top: 100px;
  }
  .welcome {
    background: url(images/dog.jpg);
    height: calc(100%);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
  }
  .welcome h1 {
    width: 100%;
    font-size: 1em;
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
  }

  /* portfolio */

  .portfolio-goto {
    width: 100%;
    text-align: center;
  }
  .portfolio-link {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }
  .portfolio-image {
    width: 100%;
    margin-top: -6px;
  }
  .image-container {
    margin-bottom: 20px;
  }


  /* contact */
  @keyframes name {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    30% {
      opacity: 0;
      transform: translateY(10%);
    }
    60% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .name {
    animation: name 2s ease-in-out;
  }

  @keyframes email {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    40% {
      opacity: 0;
      transform: translateY(10%);
    }
    70% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .email {
    animation: email 2s ease-in-out;
  }

  @keyframes message {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    50% {
      opacity: 0;
      transform: translateY(5%);
    }
    70% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .message {
    animation: message 2s ease-in-out;
  }

  @keyframes text {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes submit {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    60% {
      opacity: 0;
      transform: translateY(10%);
    }
    80% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .submit {
    animation: submit 2s ease-in-out;
  }
  form {
    text-align: center;
    animation: slideUp 1s ease-in-out;
  }
  input, textarea {
    width: 60%;
    height: 40px;
    text-align: center;
    border: 2px solid black;
    border-radius: 0px;
    box-shadow: 0;
    margin: 5px;
    font-size: 1em;
    background: white;
    -webkit-background-color: white !important;
    -webkit-border-radiuis: 0px;
  }
  textarea {
    height: 85px;
    padding-top: 5px;
  }

  /* footer */
  footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: white;
  }
  .adamgaff {
    width: 40px;
  }
  .left {
    text-align: center;
    width: 100%;
    padding: 30px 0px;
    order: 3
  }
  .left p {
    font-size: 0.5em;
    font-family: "product", sans-serif;
  }
  .center {
    padding: 30px 0px;
    text-align: center;
    width: 100%;
    order: 1;
    font-size: 1.3em;
  }
  .right {
    text-align: center;
    width: 100%;
    order: 2
  }
}
